.container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}

.colLeft {
  display: grid;
  place-content: center;
}

.colRight {
  background-color: aliceblue;
  padding: 2rem;
}

.colLeft img {
  max-height: 300px;
  /* width: 100%; */
  display: block;
}

/* Form */
.label {
  margin-right: 1rem;
}
.dropdown {
  padding: 0.25rem 0.5rem;
}

@media (min-width: 800px) {
  .cols {
    flex-direction: row;
  }

  .colLeft {
    width: 30%;
  }

  .colRight {
    width: 70%;
  }
}

.price {
  font-size: 2rem;
  font-weight: 800;
}
