/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Utils */
.container {
  width: 80%;
  max-width: 1200px;
  margin-inline: auto;
}

.section {
  padding: 4rem 0;
}

.category {
  background-color: #000;
  color: white;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 16rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.75rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mb-5 {
  margin-bottom: 2rem;
}
.mb-6 {
  margin-bottom: 2.5rem;
}
.mb-7 {
  margin-bottom: 3rem;
}
